[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
fastapi = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
autopep8 = "*"
mypy = "*"
moto = "*"
coverage = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
