<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="{{ url_for('static', path='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='stylesheet.css') }}">

    <!-- Noto-serif font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>


<body>
    <div class="center content">
        <h1>Quotes I like</h1>
        <form method="post" id="get-quote">
            <label for="word">Word to search for:</label>
            <br>
            <input type="text" id="word" name="word" , value="value">
            <br>
            <input type="submit">
        </form>
    </div>
</body>


</html>